{{>head}}
{{>header}}
{{>nav}}
<main>
	<h1>Subscriptions</h1>
	<section>
		<form action="/subscriptions" method="post" id="subscriptions">
			<fieldset>
				<input name="feed" type="url" value="" pattern="https://.*/feed.json" placeholder="Feed URL" required autofocus>
				<button type="submit"><i class="icon-plus"></i> Subscribe</button>
			</fieldset>
		</form>
	</section>
	<h1>Your Subscriptions</h1>
</main>
{{>foot}}